<mat-card>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="LOGIN">
            <mat-card-content>
                <br/>
                <form #loginForm="ngForm" (ngSubmit)="authLogin(loginForm)">
                  <mat-form-field>
                    <input matInput pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" placeholder="Enter User Email" id="userEmail" #userEmail="ngModel" name="userEmail" ngModel required>
                    <mat-error>
                      Please provide a valid email address
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput [type]="hide ? 'password' : 'text'" id="userPassword" placeholder="Enter User Password" #userPassword="ngModel" name="userPassword" ngModel required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error>
                      Please provide a valid password
                    </mat-error>
                  </mat-form-field>
                  <br/>
                  <button mat-raised-button [disabled]="loginForm.invalid" type="submit" color="primary">
                      <mat-icon>input</mat-icon>
                      LOGIN
                  </button>
                </form>
                <br/>
                <br/>
                <h5>All right reserved 2022</h5>
              </mat-card-content>
        </mat-tab>
        <mat-tab label="SIGNUP">
            <mat-card-content>
                <br/>
                <form #signUpForm="ngForm" (ngSubmit)="authSignUp(signUpForm)">
                  <mat-form-field>
                    <input matInput placeholder="Enter Full Name" minlength="3"  id="userName" #userName="ngModel" name="userName" ngModel required>
                    <mat-error>
                      Please provide User Name
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Enter Email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" id="userEmail" #userEmail="ngModel" name="userEmail" ngModel required>
                    <mat-error>
                      Please provide a valid Email Address
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter Password" name="userPassword" id="userPassword" #userPassword="ngModel" ngModel required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error>
                      Please provide a valid password
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Enter Address" name="userAddress" id="userAddress" #userAddress="ngModel" ngModel required>
                    <mat-error>
                      Please provide User Address
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" minlength="10" maxlength="10" placeholder="Enter Contact Number" id="userContactNumber" #userContactNumber="ngModel" name="userContactNumber" ngModel required>
                    <mat-error>
                      Please provide valid Contact Number
                    </mat-error>
                  </mat-form-field>
                  <br/>
                  <button mat-raised-button [disabled]="signUpForm.invalid" title="SignUpNow" type="submit" color="accent">
                      <mat-icon>verified_user</mat-icon>
                      SIGNUP
                  </button>
                </form>
                <br/>
                <br/>
                <h5>All right reserved 2022</h5>
              </mat-card-content>
        </mat-tab>
      </mat-tab-group>
  </mat-card>
